div {
    width: 19%;
    height: 500px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    float: left;
} 

img {

    width: 100px;
    height: 100px;
} 

#canvasMain{
    float: left;
    width: 78%;
    height: 500px;
}